openapi: 3.1.0
info:
  title: Go2Asia Auth API
  version: 1.0.0
  description: API для работы с авторизацией и профилями пользователей
  contact:
    name: Go2Asia API Support
    email: api@go2asia.space

servers:
  - url: https://api.go2asia.space/v1/api/auth
    description: Production
  - url: https://api-staging.go2asia.space/v1/api/auth
    description: Staging

tags:
  - name: Profile
    description: Профиль пользователя
  - name: Webhooks
    description: Webhooks от внешних сервисов

paths:
  /profile:
    get:
      tags: [Profile]
      summary: Получить профиль текущего пользователя
      description: Возвращает профиль авторизованного пользователя
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Profile]
      summary: Обновить профиль пользователя
      description: Обновляет данные профиля текущего пользователя
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Профиль успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /webhooks/clerk:
    post:
      tags: [Webhooks]
      summary: Webhook от Clerk
      description: Принимает события от Clerk (создание/обновление/удаление пользователей)
      operationId: clerkWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClerkWebhookEvent'
      responses:
        '200':
          description: Webhook обработан успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Limit:
      name: limit
      in: query
      description: Количество элементов на странице
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      description: Курсор для пагинации
      required: false
      schema:
        type: string

  schemas:
    UserProfile:
      type: object
      required: [id, email, createdAt]
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          example: "user@example.com"
        firstName:
          type: string
          nullable: true
          example: "Иван"
        lastName:
          type: string
          nullable: true
          example: "Иванов"
        avatar:
          type: string
          format: uri
          nullable: true
        role:
          type: string
          enum: [spacer, vip, pro]
          example: "spacer"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UpdateProfileRequest:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        avatar:
          type: string
          format: uri
          nullable: true

    ClerkWebhookEvent:
      type: object
      required: [type, data]
      properties:
        type:
          type: string
          enum: [user.created, user.updated, user.deleted]
          example: "user.created"
        data:
          type: object
          properties:
            id:
              type: string
              example: "user_123"
            email_addresses:
              type: array
              items:
                type: object
                properties:
                  email_address:
                    type: string
                    format: email
            first_name:
              type: string
              nullable: true
            last_name:
              type: string
              nullable: true
            image_url:
              type: string
              format: uri
              nullable: true

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Invalid request parameters"
            traceId:
              type: string
              format: uuid
              nullable: true

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Конфликт
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Превышен лимит запросов
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

