openapi: 3.1.0
info:
  title: Go2Asia Referral API
  version: 1.0.0
  description: API для работы с реферальной программой
  contact:
    name: Go2Asia API Support
    email: api@go2asia.space

servers:
  - url: https://api.go2asia.space/v1/api/referral
    description: Production
  - url: https://api-staging.go2asia.space/v1/api/referral
    description: Staging

tags:
  - name: Referrals
    description: Реферальная программа

paths:
  /stats:
    get:
      tags: [Referrals]
      summary: Получить статистику рефералов
      description: Возвращает статистику реферальной программы пользователя
      operationId: getReferralStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tree:
    get:
      tags: [Referrals]
      summary: Получить дерево рефералов
      description: Возвращает иерархию рефералов пользователя
      operationId: getReferralTree
      security:
        - bearerAuth: []
      parameters:
        - name: depth
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
            default: 2
          description: Глубина дерева (1 = только прямые рефералы)
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralTree'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /register:
    post:
      tags: [Referrals]
      summary: Зарегистрировать реферала
      description: Регистрирует нового пользователя по реферальной ссылке
      operationId: registerReferral
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterReferralRequest'
      responses:
        '200':
          description: Реферал успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterReferralResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Limit:
      name: limit
      in: query
      description: Количество элементов на странице
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      description: Курсор для пагинации
      required: false
      schema:
        type: string

  schemas:
    ReferralStats:
      type: object
      required: [totalReferrals, activeReferrals, totalEarned]
      properties:
        totalReferrals:
          type: integer
          minimum: 0
          example: 25
        activeReferrals:
          type: integer
          minimum: 0
          example: 18
        totalSubReferrals:
          type: integer
          minimum: 0
          example: 45
        totalEarned:
          type: integer
          minimum: 0
          example: 12500
        referralCode:
          type: string
          example: "USER123"

    ReferralNode:
      type: object
      required: [userId, registeredAt]
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        registeredAt:
          type: string
          format: date-time
        isActive:
          type: boolean
        subReferrals:
          type: array
          items:
            $ref: '#/components/schemas/ReferralNode'

    ReferralTree:
      type: object
      required: [sponsorId, referrals]
      properties:
        sponsorId:
          type: string
          format: uuid
        referrals:
          type: array
          items:
            $ref: '#/components/schemas/ReferralNode'

    RegisterReferralRequest:
      type: object
      required: [referralCode, userId]
      properties:
        referralCode:
          type: string
          example: "USER123"
        userId:
          type: string
          format: uuid
          description: ID нового пользователя

    RegisterReferralResponse:
      type: object
      required: [success, sponsorId]
      properties:
        success:
          type: boolean
          example: true
        sponsorId:
          type: string
          format: uuid
        message:
          type: string
          example: "Referral registered successfully"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Invalid request parameters"
            traceId:
              type: string
              format: uuid
              nullable: true

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Конфликт
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Превышен лимит запросов
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

